* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.autocomplete {
    position: relative;
    display: inline-flex;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.deleteButton {
    transition-duration: 0.4s;
    color: #d50842;
    padding: 4px 4px;
    border: none;
    border-radius: 50%;
    background: #eee;
    float: right;
}

.deleteButton:hover {
    background: #d50842;
    color: #eee;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

img {
    width: 30px;
    height: auto;
    color: rgb(200, 200, 200);
}

h6 {
    color: rgb(200, 200, 200);
    padding-bottom: 5px
}

.column {
    float: left;
    width: 200px;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-weight: bold;
}

form {
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.align_center {
    display: inline-block;
    width: 100px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}


td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px;
}

th {
    background-color: #f2f2f2;
}


nav .navbar-brand {
    font-size: large;
}

nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

.custom-navbar {
    background-color: #F0F8FF;
}

input:invalid+span::after {
    content: "✖";
}

input:valid+span::after {
    content: "✓";
}