{% extends "layout.html" %}

{% block content %}

    <form id="change_pw" action="/change_pw" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_pw" name="new_pw" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_check" name="new_check" placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>

{% endblock %}