{% extends 'layout.html' %}

{% block content %}
<div class="custom-navbar" class="container p-3 my-3 bg-white text-dark">

    <h5 class="lead text-center">Input a stock ticker that you want to do analysis on: </h5><br>
    <form method="POST" action="/" class="align-items-center">
        <input autocomplete="off" autofocus type="text" name="stocks" placeholder="AAPL" required
            class="form-control w-50 mx-auto">
        <br><br>
        <h5 class="lead text-center">Select all the data you want: </h5>
        <input type="checkbox" id="i_s" value="Income Statement" name="data">
        <label for="i_s">Income Statement</label><br>
        <input type="checkbox" id="b_s" value="Balance Sheet" name="data">
        <label for="b_s">Balance Sheet</label><br>
        <input type="checkbox" id="cf_s" value="Cash Flow Statement" name="data">
        <label for="cf_s">Cash Flow Statement</label><br>
        <input type="checkbox" id="holder" value="Corporate Holders" name="data">
        <label for="holder">Corporate Holders</label><br>
        <input type="checkbox" id="c_actions" value="Corporate Actions" name="data">
        <label for="c_actions">Corporate Actions</label><br>
        <input type="checkbox" id="i_actions" value="Insider Actions" name="data">
        <label for="i_actions">Insider Actions</label><br>
        <input type="checkbox" id="comp" value="Competitors" name="data">
        <label for="competitors">Competitors</label><br>
        <input type="checkbox" id="val_metrics" value="Valuation Metrics" name="data">
        <label for="val_metrics">Valuation Metrics</label><br>
        <input type="checkbox" id="fin_ratio" value="Financial Ratio" name="data">
        <label for="fin_ratio">Financial Ratio</label><br>
        <input type="checkbox" id="trade_info" value="Trading Information" name="data">
        <label for="trade_info">Trading Information</label><br>
        <input type="checkbox" id="est" value="Estimates" name="data">
        <label for="est">Estimates</label><br>
        <input type="checkbox" id="perf_vs_mkt" value="Performance vs Market" name="data">
        <label for="perf_vs_mkt">Performance vs Market</label><br>
        <input type="checkbox" id="news" value="News" name="data">
        <label for="news">News</label><br>
        <input type="checkbox" id="pr" value="Press Release" name="data">
        <label for="pr">Press Release</label><br>
        <input type="checkbox" id="sec" value="SEC Filings" name="data">
        <label for="sec">SEC Filings</label><br>
        <input type="checkbox" id="hd" value="Historical Data" name="data">
        <label for="hd">Historical Data</label>
        <div class="input-group col-xs-2 center">
            <input type="text" autocomplete="off" class="form-control" name="start_date"
                placeholder=" Start Date (in DD-MM-YYYY)">
            <input type="text" autocomplete="off" class="form-control" name="end_date"
                placeholder="End Date (in DD-MM-YYYY)">
        </div><br>
        <button type="submit" class="btn btn-primary mt-3">Get Data</button>
    </form>
</div>
{% endblock %}